body{
	/*font-family: 'Raleway', sans-serif;*/
	margin: 0;
	padding: 0;
}

/* Header */
#header .nav-wrapper{
	background-color: #a040a0;
}

.brand-logo i.material-icons{
	margin-left: 15px;
}

nav .button-collapse{
	margin-left: 4em;
}

/* Pokemon list */
h1{
	font-size: 2.5em;
}

.search{
	margin-bottom: 5em;
}

/* Footer */
#footer{
	background-color: #a040a0;
	height: 160px;
	padding: 2em;
}

#footer p{
	margin: .5em;
}