body{
	/*font-family: 'Raleway', sans-serif;*/
	margin: 0;
	padding: 0;
}

/* Header */
#header .nav-wrapper{
	background-color: #a040a0;
}

i.material-icons{
	margin-left: 15px;
}

nav .button-collapse{
	margin-left: 4em;
}

/* Pokemon list */
h1{
	font-size: 2.5em;
}

.search{
	margin-bottom: 5em;
}

/* Footer */
#footer{
	background-color: #a040a0;
	height: 160px;
	padding: 2em;
}

#footer p{
	margin: .5em;
}

/* Sidenav*/
h5{
	margin-left: 1.2em;
}

/* Modal */
.modal, .modal .modal-footer{
	color: #646464;
	background-color: #edecec;
}

.pokeDetails{
	color: whitesmoke;
	background-color: #36a4d3;
}

#pokeScript{
	background-color: #dbdbdb;
	text-align: center;
}

.icon{
	width: 1em;
	height: 1em;
	background-color: whitesmoke;
}